
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=PT+Sans&display=swap');

* {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: small;
  margin: 30px;
}

p {
  color: white;
}

li {
  list-style-type: none;
  color: white;
}
